html {
    overflow-x: hidden; }
  
  * {
    padding: 0;
    margin: 0; }


.loginRE{
  text-decoration: none;
  font-family:  sans-serif;
  color: #0097F6;
  font-size: 2.1vh;
  font-weight: 600;

}

.loginNC{
  font-size: 14px;
  color: black;

}
    
.borderL{
  border-radius: 0px;
}
.borderR{
  margin-top: 2vh;
}

.Formulario{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 52vh;
}

.formularioL{
   width: 45vh;
   font-size: 12px;
   height: 6vh;
   margin-top: -10px;
   background-color: #FAFAFA;
   border-radius: 0px;
}

.toggle-button{
  font-size: 11px;
  margin-right: 10px;
  margin-top: -2px;
}

.custom-card {
  margin-top: -6vh;
  height: 10vh;
}

.imgLogin{
  margin-top: -6vh!important;
}

.btn.btn-primary{
    background-color: #4CB5F9;
    border: #4CB5F9; 
    border-radius: 8px;
    width: 45vh;
    justify-content: center;
    margin-top: -2px;
}

.btn-outline-secondary{
    color: black;
    background-color: fff;
}

.buttonLoginFacebook{
  background-color: white;
  border-color: white;
  border-style: none;
}

.letraF{
    color: #385185; 
    font-size: 2.3vh;
    width: 30vh;
    text-decoration: none;
    font-weight: 600;
}

.letraO{
  font-size: 12px;
  color: rgb(0, 55, 107);
  margin-left: 6vh;
  margin-top: 2.5vh;
}
.loginLC {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 19vh;
  height: 1px;
  background-color: #DBDBDB ;
  margin: 4px;
}

.circle {
  width: 9px;
  height: 9px;
  border: 2px solid rgb(115, 115, 115);
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.loginFacebook{
  margin-right: 1vh;
  margin-top: 0.5vh;
  background-color: none;
}

.loginIniciar{
  font-weight: 500;
  font-size: 2.2vh;
}

/*  css del button mostrar/ocultar  */ 

.password-toggle-container {
  position: relative;
  display: inline-block;
}

.password-input {
  padding-right: 40px;
}

.toggle-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.fa-eye-slash {
  display: none;
}

.fa-eye {
  display: inline;
}

/*  */
.login-photo {
    width: 76vh;
    margin-left: -13vh;
    height: 102vh;
    margin-top: 5vh;
}

.loginDescargarAPP{
  text-align: center;
  font-size: 2.2vh;
  font-weight: 400;
}

.imgLoginDescargas{
  height: 40px;
  margin-left: 50px;
}

.imgML{
  margin-left: 8px;
}

.loginFooter{
  font-size: 0.7rem;
  color:  rgb(115, 115, 115);
  margin-top: -10px;
}

.loginFooter2{
  font-size: 0.7rem;
  color:  rgb(115, 115, 115);
  margin-left: 3vh; 
}

.footer3{
  margin-left: -68vh;
}



/*  */


.imgR{
  margin-left: 6vh;
}

.textR{
  font-size: 2.8vh;
  color: #807773;
  width: 44vh;
  margin-left: 4vh;
  font-weight: 600;
}

.fbR{
    background-color: rgb(0, 149, 246)!important;
    height: 35px;
    width: 45vh!important;
    font-size: 2.2vh;
    margin-left: 4vh;
    font-weight: 600;
} 

.registroButton{
  margin-left: 4vh;
  margin-top: -1.3vh;
}

.buttonRegistro{
 
  margin-left: 4vh;
 height: 5.5vh!important;
 margin-top: 100vh;
 font-size: 2.3vh;
 font-weight: 550;
}

.registroFont{
  font-size: 2vh;
  width: 45vh;
  padding-inline-end: 1px;
  margin-left: 5vh;
  color: rgb(115, 115, 115);
}

.registroLinks{
  font-size: 2vh;
  color:#18406B;
  text-decoration: none;
}



.postIG{
    margin: 20vh;
    width: 75vh;
    margin-left: 25vh;
}


.letra{
    color: black;
    height: 60px;
}

.letra:hover{
  opacity: 50%;  
}



.fotoResolution{
    border-radius: 50%;
    width: 6vh;
}

.registroI{
font-size: 2.3vh;
text-decoration: none;
color: #0095F7;
}

.registroT{
font-size: 2.3vh;
margin-top: 2vh;
}

.registroCard{
  margin-top: -6vh;
}

.imgC{
  margin-left: 25px;
  border-radius: 50%;
  width: 35px;
  height: 40px;
}

.imgCP{
  border-radius: 60%;
  width: 25vh;
  margin-top: 30px;
  margin-right: 100px;
}

.botonC{
  width: 10vh;
  background-color: white;
  border-style: none;
}


.LetraPost{
padding-left: 10px;
text-decoration: none;
color: black;
margin-top: 8px;
}

.icons{
  width: 7vh;
  background-color: white;
  border-color: white;
  border-style: none;
  height: 40px;
  font-size: 20px;
}

.icoNot {
  width: 7vh;
  background-color: white;
  border-style: none;
  height: 40px;
  margin-left: 20px;
  font-size: 20px;
}

.icons:hover .svg-inline--fa{
  opacity: 70%;
}

.iconSave{
  padding-left: 50vh;
}

.mC{
  background-color: white;
  border-style: none;
  text-align: start;
}

.addC{
  height: 38px;
  color: rgb(105, 99, 99);
  font-size: 14px;
}

.posteo{
  height: 10px;
}


.fotoig{
  width: 22vh;
}

.perfilC{
 margin-top: 60px;
}

.containerPosts{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, 1fr);
  gap: 5px; 
  align-items: center;
  justify-content: center;
  border-style: none;
}

.containerPosts img{
  width: 100%; 
  height: 100%;
  object-fit: cover;
}

.nombre{
  margin-top: 160px;
  display: flex;
  align-items: center;
}

.time{
  color: #999999;
  margin-left: 10px;
  margin-top: 10px;
}

.profile-details {
  margin-top: 5rem;
}

.userName{
  font-size: 3vh;
}

.cardP{
  margin-right: 35vh;
}

.nombreU{
  font-size: 2.5vh;
}

.pubSS{
  margin-right: 40px;
}

.ellipsis{
  font-size: 2vh;
  color: #333;
  margin-left: 38vh;
  margin-top: 15px;
}
@media (max-width: 280px) {
  .customCardRe {
    border: none;
  }
  .imgLogin {
    margin-left: -1vh;
  }
  .textR{
    margin-left: 4vh;
    width: 35vh;
  }
  .btn-primary{
    width: 35vh!important;
    margin-left: 4vh;
  }
  .line{
    width: 15vh;
  }
  .formularioL{
   width: 36vh;
  }
  .registroFont{
    width: 36vh;
  }
   .btn btn-primary{
    width: 34vh;
   }
   .registroT{
    margin-top: -5vh;
   }
   .loginDescargarAPP{
    margin-top: -15vh;
   }
   .imgLoginDescargas{
    width: 20vh;
    margin-left: 3vh;
   }
   .imgML{
     width: 20vh;
   }
   .loginFooter{
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
   }
   .loginFooter2{
    margin-left: 23vh;
   }
}


@media (max-width: 449px) and (min-width: 281px) {
  .customCardRe {
    border: none;
  }
  .imgLogin {
    /* margin-left: 5%; */
    position: relative;
  }

   
}