html {
    overflow-x: hidden; }
  
  * {
    padding: 0;
    margin: 0; }


/* Login */
  
.login-photo {
      height: 600px;
      margin-top: 12vh;
  }

.borderL{
    border-radius: 0px;
    margin:10px;
    margin-top: 12vh;
}

.formularioL{
  font-size: 12px;
  background-color: #FAFAFA;
  border-radius: 0px;
}

.password-toggle-container {
  position: relative;
}

.toggle-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 11px;
  margin-right: 10px;
  margin-top: -2px;
}

.btn.btn-primary{
  background-color: #4CB5F9;
  border: #4CB5F9; 
  border-radius: 8px;
  width: 100%; 
}

.loginIniciar{
  font-weight: 500;
}

.loginLC {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  height: 1px;
  background-color: #DBDBDB ;
  margin: 4px;
}

.circle {
  width: 15px;
  height: 9px;
  border: 2px solid rgb(115, 115, 115);
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.buttonLoginFacebook{
  background-color: transparent;
  /* border-color: transparent; */
  border-style: none;
  display: flex;
  align-items: center;
  margin-left: 5vh;
}

.loginFacebook{
  background-color: transparent;
  margin-left: -1vh;
}

.letraF{
  color: #385185; 
  margin-left: -4vh;
  text-decoration: none;
  font-weight: 600;
}

.letraO{
color: rgb(0, 55, 107);
margin-bottom: -5vh;
font-size: medium;
margin-left: -4vh;
}

.loginNC{
  color: black;
}

.loginRE{
  text-decoration: none;
  font-family:  sans-serif;
  color: #0097F6;
  font-weight: 600;
}

.loginDescargarAPP{
text-align: center;
font-size: 100%;
font-weight: 400;
}

.imgLoginDescargas{
height: 40px;
margin: 5px;
}

.loginFooter{
color:  rgb(115, 115, 115);
}

/* REGISTRO */

.borderR{
  border-radius: 0px;
  margin-top: 8vh;
}

.textR{
  color: #807773;
  font-weight: 600;
}

.registroFB{
  background-color: rgb(0, 149, 246)!important;
  border-radius: 8vh;
  font-weight: 600;
} 

.reLC {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lineR {
  width: 37vw;
  height: 1px;
  background-color: #DBDBDB ;
  margin: 4px;
}
.circleR{
    width: 20px;
    height: 9px;
    border: 2px solid rgb(115, 115, 115);
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.formularioR{
  margin-top: -1vh;
  font-size: 12px;
  background-color: #FAFAFA;
  border-radius: 0px;
  height: 3.5vh;
}

.registroFont{
  /* margin-left: vh; */
  text-align: center;
  font-size: 12px;
  color: rgb(115, 115, 115);
}


.registroLinks{
  color:#18406B;
  text-decoration: none;
  /* font-size: 12px; */
  /* color: rgb(115, 115, 115); */
}

.buttonRegistro{
 font-weight: 550;
}

.registroCard{
  margin-top: -3vh;
  font-size: 14px;
  height: 60px;
  border-radius: 0px;
}

.registroI{
  text-decoration: none;
  color: #0095F7;
  }
  
.reDescargarAPP{
  text-align: center;
  font-size: 100%;
  font-weight: 400;
  }

  .imgReDescargas{
    height: 40px;
    margin: 5px;
    }

/* FEED */

.fotoig{
  width: 60%;
}

.letra{
  color: black;
}

.letraP{
  margin-left: 30px;
}

.letra:hover{
opacity: 50%;  
}

.icoNot {
  width: 10vh;
  background-color: transparent;
  border-style: none;
  height: 40px;
  font-size: 20px;
}

.imgC{
  border-radius: 50%;
  width: 10%;
  height: 100%;
  margin-left: 32px;
}

.postIG{
  margin: 10vh;
  width: 50%;
  margin-left: 35vh;
  border-color: transparent;

}

.fotoResolution{
  border-radius: 50%;
  width: 7%;
  height: 100%;
}

.LetraPost{ 
  padding-left: 10px;
  text-decoration: none;
  color: black;
  margin-top: 8px;
  /* despues acordarse de poner un hover */
  }

.time{
    color: #999999;
    margin-left: 10px;
    margin-top: 10px;
   }

   .ellipsis{
    font-size: 2vh;
    color: #333;
    margin-left: 36vh;
    margin-top: 10px;
  }
  
.icons{
    width: 100px;
    font-size: 20px;
    background-color: white;
    border-color: white;
    border-style: none;
    margin-left: -30px;
}

.like{
  background: none;
  border: none;
  cursor: pointer;
}

.colorLike{
  color: #000000;
}

.colorLike:active .colorLike {
  color: red;
}
  
  .icons:hover .svg-inline--fa{
    opacity: 70%;
  }
  
  .iconSave{
    padding-left: 8vh;
  }

  .actionsFeed{
    background-color: white;
    border-style: none;
    text-align: start;
  }

  .addComment{
    color: rgb(105, 99, 99);
    font-size: 14px;
  }
  
  .feedPerfil{
    margin-top: 60px;
   }
   

.btn-outline-secondary{
    color: black;
    background-color: fff;
}


/* PERFIL */

.cardPerfil{
  margin-right: 15vh;
  margin-top: -15px;
}

.perfilFoto{
  border-radius: 60%;
  width: 15vh;
  margin-right: 100px;
}

.userName{
  font-size: 3vh;
}

.pubSS{
  margin-right: 40px;
}

.nombre{
  margin-top: 160px;
  display: flex;
  align-items: center;
}

.nombreU{
  font-size: 2.5vh;
}

.lineP {
  width: 85vh;
  height: 1px;
  background-color: #DBDBDB ;
  margin-right: 120px;
}

.containerPosts{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, 1fr);
  gap: 5px; 
  align-items: center;
  justify-content: center;
  border-style: none;
  margin-top: 50px;
}

.containerPosts img{
  width: 100%; 
  height: 100%;
  object-fit: cover;
}

/* mediaquires */


@media (max-width: 1399px) and (min-width: 1200px) {/*Resolucion maxima para mi monitor (19 ' )*/

  /* login */

  .formularioL{
   height: 7vh;
  }
  .loginFooter{
    margin: -4vh;
    font-size: 2vh;
  }
  
 /* registro */
 .formularioR{
  height: 6vh;
  margin-top: -3vh;
 }
 .registroCard{
  margin-top: -6vh;
}
}

@media (max-width: 1199px) and (min-width: 876px) {

  /* login */
   
.login-photo {
  width: 60vh!important;
}

.borderL{
  width: 60vh!important;
}

.formularioL{
 height: 7vh;
}
.loginDescargarAPP {
  margin-right: -15vh;
}
.imgLoginDescargas {
  width: 20vh;
  margin-left: 10vh;
  margin-right: -5vh;
}
.loginFooter{
  font-size: 2vh;
}

/*Registro*/

.formularioR{
  height: 6vh;
  margin-top: -3vh;
 }
 .reDescargarAPP{
  text-align: center;
  font-size: 100%;
  font-weight: 400;
  }
  .imgReDescargas {
    height: 7vh;
  }
  .registroCard{
   width: 50vh;
  }
}

@media (max-width: 991px) and (min-width: 876px) {  
   /* login */
   .login-photo {
    margin-left: -15vh;
  }
  .loginDescargarAPP {
    margin-right: -30vh;
  }
  .imgLoginDescargas {
    margin-left: 15vh;
    margin-right: -10vh;
  }
  .loginFooter{
    display: flex;
    flex-wrap: wrap;
    font-size: 2vh;
    margin: 2vh;
  }
  /*REGISTRO*/
  .borderR{
   width: 50vh;
  }
}

@media (max-width: 875px) and (min-width: 768px) {
  /* login */
  .login-photo{
    display: none;
  } 
  .borderL{
    width: 60vh!important;
    margin-left: -35vh;
  }
  .formularioL{
   height: 7vh;
  }
  .loginDescargarAPP{
    margin-left: -50vh;
  }
  .imgLoginDescargas{
    width: 20vh;
    margin-left: -24vh;
    margin-right: 25vh;
 }
 .loginFooter{
  display: flex;
  flex-wrap: wrap;
  font-size: 2vh;
  margin: 2vh;
}
/*Registro*/
.borderR{
  width: 50vh;
}
.formularioR{
  height: 6vh;
  margin-top: -3vh;
 }
 .reDescargarAPP{
  margin-left: 3vh;
  }
  .imgReDescargas {
    height: 6vh;
    display: flex;
  }
  .registroCard{
   width: 50vh;
   margin-top: -7vh;
  }
}

@media (max-width: 767px) and (min-width: 451px) {
  /* login */
  .login-photo{
    display: none;
  } 
  .borderL{
    width: 60vh!important;
    margin-left: 10vh;
  }
  .formularioL{
    height: 7vh;
  }
  .loginDescargarAPP{
    margin-right: 1vw;
  }
  .imgLoginDescargas{
      width: 15vh;
      margin-right: 1vw;
   }
   .loginFooter{
    display: flex;
    flex-wrap: wrap;
    font-size: 2vh;
    margin: 10 vw;
  }

   /*Registro*/
   .borderR{
    width: 68vh;
    margin-left: 4vh;
   }
   .circleR{
    width: 9px;
   }
   .formularioR{
    height: 6.5vh;
   }
   .registroCard{
    width: 68vh;
    margin-left: 4vh;
   }
   .reDescargarAPP{
    margin-right: 15vw;
   }
   .imgReDescargas{
    margin-right: 15vw;
   }
}

@media (max-width: 450px) and (min-width: 281px) {
  /* login */
  .login-photo{
    display: none;
  } 

  .borderL{
    border: none;
    align-items: center;
  }
  .formularioL{
    height: 7vh;
  }

  .loginIniciar{
    font-weight: 600;
  }

  .buttonLoginFacebook{
    margin-left: 1vh;
  }
  
  .letraF{
    margin-left: 0.5vh;
  }
  .letraO{
    margin-left: 1vh;
  }
  .loginNC{
    font-size: 2.5vh;
    margin-top: -5vh;
  }
  .loginFooter{
  display: flex;
  flex-wrap: wrap;
  font-size: 2vh;
  margin: 5vw;
  }

/*Registro*/
.borderR{
  border: none;
 }
 .circleR{
  width: 9px;
 }
 .formularioR{
  height: 6vh;
 }
 .registroCard{
  border: none;
 }
}

@media (max-width: 280px) {
  /* login */
  .login-photo{
    display: none;
  } 
  .borderL{
    border: none;
  }
  .formularioL{
    margin-left: -3vh;
    width: 34vh;
    height: 7vh;
  }
  .loginIniciar{
    margin-left: -3vh;
    width: 34vh!important;
    font-weight: 600;
  }
  .loginLC{
    margin-left: -2vh;
    width: 33vh!important;
  }
  .buttonLoginFacebook{
    margin-left: -2vh;
  }
  .letraF{
   font-size: 2.2vh;
   margin-left: 1vh;
  }
  .letraO{
   font-size: 2.2vh;
   margin-left: 3vh;
  }
  .loginNC{
    font-size: 2.2vh;
    margin-left: -3vh;
  }
  .loginDescargarAPP{
    font-size: 2.2vh;
    margin-top: -2vh;
  }
  .imgLoginDescargas{
    padding: 1.5%;
  }
 
  .loginFooter{
    display: flex;
    flex-wrap: wrap;
    font-size: 2vh;
  }
  /*Registro*/
.borderR{
  border: none;
 }
 .circleR{
  width: 9px;
 }
 .formularioR{
  height: 6vh;
 }
 .registroCard{
  border: none;
 }
}


